<div class="main-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <lbd-chart
                [title]="'Current Profile'"
                [subtitle]="'Portfolio Breakdown'"
                [chartClass]="'ct-perfect-fourth'"
                [chartType]="currentPortfolioGraphType"
                [chartData]="currentPortfolioGraph"
                [legendItems]="currentPortfolioLegend"
                [withHr]="true"
                [footerIconClass]="''"
                [footerText]="currentPortfolioClassification">
              </lbd-chart>
            </div>
            <div class="col-md-6">
              <lbd-chart
                [title]="'Recommended Portfolio'"
                [subtitle]="'Potential Portfolio'"
                [chartClass]="'ct-perfect-fourth'"
                [chartType]="recommendedPortfolioGraphType"
                [chartData]="recommendedPortfolioGraph"
                [legendItems]="recommendedPortfolioLegend"
                [withHr]="true"
                [footerIconClass]="''"
                [footerText]="recommendedPortfolioClassification">
              </lbd-chart>
            </div>
          </div>
        </div>
      </div>
